# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python on pull request

on:
  pull_request:
    paths:
      - pyTMD/**
      - scripts/**
      - test/**
      - .github/workflows/python-request.yml
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 1 * *'

jobs:
  build:

    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4
    - name: Set up pixi environment
      uses: prefix-dev/setup-pixi@v0.9.1
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        pixi run lint
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        pixi run lint "--exit-zero --max-complexity=10 --max-line-length=127"
    - name: Checkout Matlab TMD Toolbox
      uses: actions/checkout@v4
      with:
        repository: EarthAndSpaceResearch/TMD_Matlab_Toolbox_v2.5
        path: TMD_Matlab_Toolbox
        ref: master
    - name: Fetch test data
      run: |
        # install the package in editable mode
        pip install --no-deps --editable .
        # download test data
        pixi run fetch
    - name: Test with pytest
      run: |
        pixi run test "--cov=./ --cov-report=xml"
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        verbose: true
    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report-${{ matrix.os }}
        path: ./test/coverage.xml
